{%extends "app1/index.html"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/saveprod_view/" method="POST">
        {%csrf_token%}
        <table border="2">
            <tr>
                <td><button type="submit" class="btn btn-primary">Save</button></td>
            </tr>
        </table>
    </form>
    {{msg}}
</body>
</html>
{%endblock%}